# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.auto.tfvars
terraform.rc
.terraformrc

# Sistem / editor
.DS_Store
Thumbs.db
.vscode/
